  @font-face {
    font-family: 'Maven Regular';
    src: url('font/MavenPro-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Maven Medium';
    src: url('font/MavenPro-Medium.woff') format('woff');
  }

  @font-face {
    font-family: 'Maven Bold';
    src: url('font/MavenPro-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Maven Black';
    src: url('font/MavenPro-Black.woff') format('woff');
  }